html,
body,
button,
div,
p,
span {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 300px;
}
button:focus,
button:active {
  box-shadow: none;
  outline: none;
}
.wrapper {
  text-align: center;
  width: 600px;
}
#table {
  padding: 20px;
  border: 2px solid #333;
  margin-bottom: 20px;
}
#form {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.input {
  border: 1px solid #333;
  padding: 5px 10px;
}
.item {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 0;
  margin-bottom: 5px;
}
#table input {
  border: 1px solid blue;
  background: #ffffff;
  color: #000000;
  padding: 5px 10px;
  margin-right: 5px;
}
#table input:disabled {
  border: 1px solid #333;
  background: #ffffff;
  color: #000000;
  padding: 5px 10px;
}
#table button {
  border: 1px solid #333;
  background: #ffffff;
  color: #000000;
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 5px;
}
.editBtn {
  position: relative;
  display: inline-block;
}
.saveBtn {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;

  /* transform: translateX(-100%); */
}
#addButton {
  display: inline-block;
  padding: 10px 15px;
  background: #333;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}
